<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="\css\home.css">

</head>
<body>
<h1 id = "page-heading">
    <i class="fas fa-address-book"></i></i> CUSTOMER DETAILS</h1>
    <div id = "contact-list-container">
        <ul>
            <% for (let i of contact_list) { %>
        <li class="contact">
            <div id = "details">
                    <p style="color: black; font-weight: 5000;"> 
               NAME:  <%= i.name %>
                    </p>
                    <p style="color: brown;">
                    PHONE: <%= i.phone %>
                    </p>
            </div>
           <div class = "delete-button">
               <a href = "/delete-contact/?=id<%= i._id %>">
                <i class="fas fa-window-close"></i>
               </a>
           </div>
        </li>
            <% } %>
        </ul>

    </div>
    <form id = "new-contact-form" = action = "/create-contact" method = POST>
        <input type = "text" name = "name" placeholder="Enter your name" required>
        <input type = "number" name = "phone" placeholder=" Enter your phone number" required>
        <input type = "text" name = "address" placeholder=" Enter your address" required>
        <input type = "payment mode" name = "Payment mode" placeholder=" Enter your payment mode" required>
        <button type = "submit" id = "submit">Add contact</button>
    </form>

    <script src="https://k           it.fontawesome.com/5ae40ea41b.js" crossorigin="anonymous"></script>
    <script type ="text/javascript" src = "/js/home.js">
    </script>
</body>
    </html>

